* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#000000;
    --primary-font: 'Sora', sans-serif; 
    --primary-lineheight: '.5rem';
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
}

body {
    font-family: 'Sora';
    font-size: 1rem;
}

header {
    background-color: white;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    padding-right: 30px;
    padding-left: 30px;
}

nav {
    height: 80px;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 0.8rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

a.nav-link:visited{
    color: #000000;
}

a.nav-link:hover{
    color: #43736E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

img.image-inicio {
    width: 200px;
    border-radius: 50%;
    background-image: url("../../media/examples/lizard.png");
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.main-content {
    background-color: #F0F1F2;
    max-width:100%;
    height: fit-content;
    margin: 0 auto;
    text-align:center;
    /*padding-top: 100px;*/
}

div.container-fluid-registro-clases {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.line-1 {
    position: relative;
    width: 1200px;
    height: 1px;
    background-color: #43736E;
    align-content: center;
    border-radius: 1px;
    top: 70px;
    left: 30px;
}

div.main-content-items{
    /*background-color: #DCF2BB;*/
    max-width: 100%;
    padding: 50px;
    align-items: center;
    background: linear-gradient(to bottom, #DCF2BB, white);
}

h1 {
    max-width: 500px;
    margin: auto;
    color:#43736E
}

p {
    max-width: 500px;
    margin: auto;
}

div.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 100px, 1fr));
    margin: auto;
    column-gap: 0;
    row-gap: 0;
    align-items: center;
    height: 145px;
    background-color: white;
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding-left: 30px;
    padding-right: 30px;
}

div.footer-text {
    font-weight: bold;
}

div.footer-text a.footer.contact-link {
    grid-column: 1/2;
}

div.footer-icons {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

div.footer-ead-icon {
    grid-column: 3/4;
    display: flex;
    justify-content: end;
}

a.footer-contact-link {
    color: #000000;
    text-decoration: none;
}

a.footer-contact-link:visited {
    color: #000000;
}

a.footer-contact-link:hover {
    color: #43736E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

